html,
body{
  height: 100%;
}
body{
  @extend %mulish-400;
  font-size: 17px;
  line-height: 30px;
  color: $grey;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.container{
 max-width: 1220px;
 margin: 0 auto;
 padding: 0 15px;
}
.title{
  font-size: 36px;
  line-height: 50px;
  color: $black;
  @extend %playfair-700;
  margin-bottom: 20px;
}
.btn{
  background-color: $orange;
  color: #fff;
  padding: 16px 63px;
  border-radius: 5px;
}