$grey:#7D7987;
$black:#000000;
$orange:#FB8F1D;



%mulish-400{
  font-family: 'Mulish-Regular', sans-serif;
  font-weight: 400;
}
%inter-500{
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}
%inter-600{
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}
%playfair-700{
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-weight: 700;
}